* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #5f5fe3, #035066);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui espaço entre os elementos */
    height: 100vh; /* Faz o body ocupar toda a altura da tela */
    text-align: center; /* Centraliza o texto */
}

.titulo, h2 {
    border: 2px solid black; /* Adiciona borda preta */
    padding: 10px; /* Adiciona espaçamento interno */
    color: white;
    background-color: black;
}

.sobre-mim {
    margin: 20px; /* Adiciona espaço ao redor do parágrafo */
    padding: 20px;
    margin-top: 0px;
}

h2 {
    margin-top: 10px; /* Empurra o h2 para o final da página */
    
}

a{
    color: black;
    text-decoration: none;
    transition: 0.03s;

}

a:hover{
    color: white;
}

.imagem {
    display: flex; /* Usar flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    
    
}

.imagem img {
    max-width: 150px; /* Define um tamanho máximo para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 30px; /* Faz a imagem ter bordas arredondadas */
}

.formulario a.botao {
    display: inline-block; /* Permite que o link tenha largura e altura */
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: #060606; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

.formulario a.botao:hover {
    background-color: #4a4ab3; /* Muda a cor de fundo ao passar o mouse */
}


/* estilos para o formulário */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* altura do container */
}

.form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.campo-formulario {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    border-color: #007bff; /* Cor azul ao focar */
    outline: none; /* Remove o contorno padrão */
}

.btn {
    background-color: #060606; /* Cor azul */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4a4ab3; /* Cor azul mais escura ao passar o mouse */
}